@charset "utf-8";

body,
h1,h2,h3,h4,h5,h6,
p,ul,ol,dl,dt,dd,li,
table,th,td,
form,select,option,input
address,pre,strong,em,iframe,img{
	margin:0;
	padding:0;
	font-size:100%;
	border:0;
}

body{
	color:#000;
	font-family:sans-serif;
	font-size:13px;
	*font-size:small;
	line-height:1.4;
}
/*リストの・を消す*/
li{
	list-style-type: none;
}

/* デフォルトリンク色の設定 */
a{
	color:#4169e1;
	text-decoration: none;
}

a:hover{
	color:#b8860b;
}


/*ヘッダー部分(左固定＋右可変)*/
#head{
	border-top:2px solid #000;
}

#headTop{
	background-color: #808080;
	color:#fff;
	width:100%;
/*	height:20px;
	border-bottom:2px solid #fff;*/
}

#headTopRight{
	width:100%;
	height:18px;
	background-color: #808080;
	float:right;
	border-bottom:5px solid #fff;
}

#headTopRightContents{
	margin-left:412px;
	background-color: #808080;
}

#headTop p{
	text-align:center;
	width:200px;
	float:left;
	border-right:10px solid #fff;
}

#headTopLeft{
	width:612px;
	height:18px;
	margin-right: -612px;
	background-color: #808080;
	float:left;
}

#headTopLeft input{
	color:#fff;
	display:block;
	width:100px;
	height:18px;
	text-align:center;
	float:left;
	background-color: #808080;
	border-style:none;
	border-right: 1px solid #fff;

}
#headTopLeft input:hover{
	color:#fff;
	background-color: #a9a9a9;
	border-bottom:2px solid #000;
}

#headTopLeft select{
	color:#fff;
	display:block;
	width:100px;
	height:18px;
	text-align:center;
	float:left;
	background-color: #808080;
	border-style:none;
	border-right: 1px solid #fff;

}
#headTopLeft select:hover{
	color:#fff;
	background-color: #a9a9a9;
	border-bottom:2px solid #000;
}

#headTopRightContents input{
	color:#fff;
	display:block;
	width:117px;
	height:18px;
	text-align:center;
	float:right;
	margin-right:5px;
	background-color: #808080;
	border-style:none;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
#headTopRightContents input:hover{
	color:#fff;
	background-color: #a9a9a9;
	border-bottom:2px solid #000;
}

/*プログラム名とコメント部分*/
#info{
	clear:both;
	color:#fff;
	width:100%;
	height:50px;
	background-color:#808080;
	border-bottom:2px solid #fff;
}
#info p{
	font-weight: bold;
	font-size:16px;
}

#infoRun {
	width:100%;
}

#infoRunContents{
	margin-left:686px;
	margin-right:5px;
	float:right;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
}

#infoContents{
	width:686px;
	height:50px;
	margin-right:-686px;
	float:left;
}

#infoRunContents select{
	width:115px;
	border-bottom:1px solid #fff;
	color:#fff;
	background-color: #808080;
}

#infoRunContents select:hover {
	background-color: #a9a9a9;
}

#infoRunContents input{
	width:115px;
	height:32px;
	color:#fff;
	background-color: #808080;
	border-style:none;
}

#infoRunContents input:hover{
	color:#fff;
	background-color: #a9a9a9;
}


#infoName{
	text-align: center;
	line-height:1.5;
	width:200px;
	height:50px;
	border-right:10px solid #fff;
	float:left;
/*	margin-left: 12px;*/
}
#infoComment{
	line-height:1;
	width:464px;
	height:50px;
	float:left;
	margin-left:12px;
}
#infoComment textarea{
	height:28px;
	width:400px;
	resize:none;
}

/*ブロック*/
#blockListArea{
	font-family:"メイリオ";
	float: left;
	background-color: #00a0e9;
	width: 200px;
	height: 700px;
	border-right:10px solid #fff;
	border-bottom:2px solid #fff;
}

#blockListArea p{

	font-weight:bold;
	color:#fff;
	font-size:16px;
	height:35px;
	text-align: center;
	background-color: #00a0e9;
	border-bottom:1px solid #00ffff;
	padding-top:15px;
}

#blockListArea p:hover{
	background-color: #4cbcf0;
}

.blockList,#tempBlockList{
	background-color: #87ceeb;
}


/*.nestBlock{
	background-color: green;
	min-height: 50px;
	width: 120px;
}

.nestArea{
	background-color: blue;
	min-height: 40px;
	margin-bottom: 4px;
}

.mathBlock{
	background-color: green;
	width: 155px;
	height: 50px;
}
.strBlock{
	background-color: green;
	width: 155px;
	height: 50px;
}
.logicBlock{
	background-color: green;
	width: 155px;
	height: 50px;
}

.intArea{
	display: inline-block;
	min-width: 50px;
	min-height: 50px;
	background-color: blue;
}

.charArea{
	display: inline-block;
	min-width: 50px;
	min-height: 50px;
	background-color: blue;
}

.varArea{
	display: inline-block;
	min-width: 50px;
	min-height: 50px;
	background-color: blue;
}

.dataArea{
	display: inline-block;
	min-width: 50px;
	min-height: 50px;
	background-color: blue;
}

.boolArea{
	display: inline-block;
	min-width: 50px;
	min-height: 50px;
	background-color: blue;
}

.intBlock{
	background-color: green;
	width: 50px;
	height: 50px;
}

.charBlock{
	background-color: green;
	width: 50px;
	height: 50px;
}

.boolBlock{
	background-color: green;
	width: 50px;
	height: 50px;
}*/

/*付箋のデータ挿入部のデザイン*/
.paste{
	display: inline-block;
	min-width: 50px;
	height: 50px;
	background-color: #fff;
	border:1px solid #000;
	border-radius:5px;
}

/*貼り付けるモノのデザイン*/
.poster {
	width: 50px;
	min-height: 50px;
	padding: 0 0 1px 0;
	background-color:#fff;
	background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1,#f3f3f3));
	border-top: 1px solid white;
	border-right: 1px solid #ccc;
	border-radius:5px;
	position: relative;
}

/*セロテープ*/
.ribbon{
	position:absolute;
	top:-4px; left: 25%;
	width: 25px;
	height: 10px;
	background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
	/*background: -moz-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));*/
	border-left: 1px dashed rgba(0, 0, 0, 0.1);
	border-right: 1px dashed rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
/*	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);*/
}

/*.processBlock{
	background-color: green;
	width: 180px;
	height: 55px;
}*/

/*.processBlock{
	width:200px;
	min-height: 50px;
	background-color: #fff;
}

.processBlock {
	width: 200px;
	min-height: 50px;
	padding: 0 0 1px 0;
	position:relative;
	background-color:#fff;
	background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1,#f3f3f3));
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	-webkit-border-bottom-right-radius: 30px 30px;
	-webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.processBlock:before{
	content:'';	
	width: 15px;
	height: 15px;
	position: absolute;
	bottom:0;
	right:0;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
	-webkit-transform:
	rotate(0deg)
	skew(-10deg,-15deg)
	translate(-2px,-2px);
}*/
/*
.sticky{
	width:200px;
	min-height: 50px;
	background-color: #fff;
}
*/

/*全体の付箋のデザイン*/
.sticky {
	min-width: 200px;
	height: 50px;
	padding: 0 0 1px 0;
	position:relative;
	background-color:#fff;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom-right-radius: 30px 30px;
	box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.sticky:before{
	content:'';	
	width: 15px;
	height: 15px;
	position: absolute;
	bottom:0;
	right:0;
	border-bottom-right-radius: 30px;
	box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
	-webkit-transform:
	rotate(0deg)
	skew(-10deg,-15deg)
	translate(-2px,-2px);
	-moz-transform:
	rotate(0deg)
	skew(-10deg,-15deg)
	translate(-2px,-2px);
}

/*影*/
/*.processBlock:after{
	content: '';
	z-index: -1;
	width: 100px;
	height: 100px;
	position:absolute;
	bottom:0;
	right:0;
	background: rgba(0, 0, 0, 0.2);
	display: inline-block;
	-webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
	-webkit-transform: rotate(0deg)
	translate(-45px,-20px)
	skew(20deg);
}
*/

/*大きな付箋のデザイン*/
/*大*/
.largeSticky {
	min-width: 200px;
	min-height: 50px;
	padding: 0 0 1px 0;
	position:relative;
	background-color:#fff;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom-right-radius: 30px 30px;
	box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.largeSticky:before{
	content:'';	
	width: 15px;
	height: 15px;
	position: absolute;
	bottom:0;
	right:0;
	border-bottom-right-radius: 30px;
	box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
	-webkit-transform:
	rotate(0deg)
	skew(-10deg,-15deg)
	translate(-2px,-2px);
	-moz-transform:
	rotate(0deg)
	skew(-10deg,-15deg)
	translate(-2px,-2px);
}
/*中*/
.mediumSticky {
	min-width: 200px;
	min-height: 50px;
	padding: 0 0 1px 0;
	position:relative;
	background-color:#fff;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom-right-radius: 30px 30px;
	box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.mediumSticky:before{
	content:'';	
	width: 15px;
	height: 15px;
	position: absolute;
	bottom:0;
	right:0;
	border-bottom-right-radius: 30px;
	box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
	-webkit-transform:
	rotate(0deg)
	skew(-10deg,-15deg)
	translate(-2px,-2px);
	-moz-transform:
	rotate(0deg)
	skew(-10deg,-15deg)
	translate(-2px,-2px);
}

/*小*/


.smallSticky {
	min-width: 200px;
	min-height: 50px;
	padding: 0 0 1px 0;
	position:relative;
	background-color:#fff;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom-right-radius: 30px 30px;
	box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.smallSticky:before{
	content:'';	
	width: 15px;
	height: 15px;
	position: absolute;
	bottom:0;
	right:0;
	border-bottom-right-radius: 30px;
	box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
	-webkit-transform:
	rotate(0deg)
	skew(-10deg,-15deg)
	translate(-2px,-2px);
	-moz-transform:
	rotate(0deg)
	skew(-10deg,-15deg)
	translate(-2px,-2px);
}

/*ワークスペース*/
#workspace{
	background:url("../img/col1.jpg");
	margin-left: 210px;
/*	background-color: #e6faff;*/
	min-width: 100px;
	height: 692px;
	border:4px solid #00a0e9;
	overflow:scroll;
	position:relative;
}

#mainList{
	min-width: 100px;
	min-height: 200px;
	position: relative;
	background-color: #ffffe7; 
	background-image: 
	linear-gradient(90deg, transparent 29px, #fcc 29px, #fcc 31px, transparent 31px),
	linear-gradient(90deg, transparent 49px, #fcc 49px, #fcc 51px, transparent 51px),
	linear-gradient(rgba(100,204,255,.3) .1em, transparent .1em);
	background-size: 100% 1.5em;
}

#mainList:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0em;
	background-color: #ffffe7; 
	background-image: 
	linear-gradient(90deg, transparent 29px, #fcc 29px, #fcc 31px, transparent 31px),
	linear-gradient(90deg, transparent 49px, #fcc 49px, #fcc 51px, transparent 51px);
}

.subList{
	min-width: 100px;
	min-height: 200px;
	position: relative;
	background-color: #ffffe7; 
	background-image: 
	linear-gradient(90deg, transparent 29px, #fcc 29px, #fcc 31px, transparent 31px),
	linear-gradient(90deg, transparent 49px, #fcc 49px, #fcc 51px, transparent 51px),
	linear-gradient(rgba(100,204,255,.3) .1em, transparent .1em);
	background-size: 100% 1.5em;
}

.subList:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0em;
	background-color: #ffffe7; 
	background-image: 
	linear-gradient(90deg, transparent 29px, #fcc 29px, #fcc 31px, transparent 31px),
	linear-gradient(90deg, transparent 49px, #fcc 49px, #fcc 51px, transparent 51px);
}
/*
.subList{
	background-color: red;
	min-height: 80px;
	min-width: 100px;
}*/

#main {
	padding: 16px 0px 0px 0px;
/*	background-color:blue; */
	/*border-radius:4px;*/
	min-height: 100px;
	width: 200px;
	font-family:"メイリオ";
	position:absolute;
	top:0px;
	left:210px;
}


.sub {
	padding: 16px 0px 0px 0px;
/*	background-color:blue; */
	/*border-radius:4px;*/
	min-height: 100px;
	width: 200px;
	position: relative;
}

.sub input{
	width:100px;
	height: 10px;
	position: absolute;
	top:37px;
	left:88px;
}

.noteTop {
	width:200px;
	height:40px;
	background-color: #ffffe7;
	position: relative;
}

.noteText{
	position:absolute;
	top:20px;
	left:10px;
}

.noteRing{
	min-width:200px;
	min-height: 100px;
	background:url("../img/note.png") repeat-x;
	position:absolute;
	top:-13px;
	left:0px;
}


/*.sub {
	padding: 4px 0px 4px 0px;
	background-color:blue; 
	border-radius:4px;
	min-height: 100px;
	width: 200px;
}*/

#dustbin {
	position:absolute;
	top:82px;
	right:22px;
}

/*フッター*/
#foot{
	background-color: #fff;
	clear: both;
	width:100%;
}

#output{
	width:100%;
	float:right;
}

#outputTextArea {
	margin-left:450px;
	margin-right:28px;
}

#outputArea {
	min-width:100%;
	padding:10px;
	height:130px;
	border:4px solid #00a0e9;
	overflow-y: scroll; 
}


#help {
	background-color: #00a0e9;
	padding:5px;
	width:430px;
	height:148px;
	margin-right:-450px;
	border-right:10px solid #fff;
	float:left;
}

#help dl{
	color:#fff;
	font-size:15px;
	padding:5px;
	width:416px;
	height:136px;
	border:2px solid #fff;
		overflow:auto;
	overflow-x:hidden;
}

.print {
	background-color: #ffcf70;
/*	display:inline-block;*/
}
.printRede {
	float:left;
	font-size:16px;
	margin:16px 5px 0px 5px;
}
.assign {
	background-color: #ffcf70;
}
.assignRede1{
	float:left;
	font-size:16px;
	margin:16px 5px 0px 5px;
}
.assignRede2{
	float:left;
	font-size:22px;
	margin:11px 5px 0px 5px;
}
.assign > .varArea {
	float:left;
}
.assign > .dataArea {
	float:left;
}
.fourOp {
	background-color: #b1f9b1;
}

.fourOpSelect{
/*	width:45px;
	height:20px;*/
	float:left;
	font-size:22px;
	margin:11px 10px 0px 10px;
}
.fourOp > .op1 {
	float:left;
	margin:0px 0px 0px 5px;

}
.fourOp > .op2 {
	float:left;
	margin:0px 0px 0px 0px;
}
.brackets {
	background-color: #b1f9b1;
	font-size:38px;
}
.bracketsRede1 {
	float:left;
	margin:0px 15px 0px 40px;
}
.bracketsRede2 {
	float:left;
	margin:0px 10px 0px 15px;
}
.brackets > .intArea {
	float:left;
}
.concatOp {
	background-color: #b1f9b1;
}
.concatOpRede {
	float:left;
	font-size:22px;
	margin:10px 10px 0px 10px;
}
.concatOp > .op1{
	float:left;
	margin:0px 10px 0px 5px;
}
.concatOp > .op2{
	float:left;
	margin:0px 10px 0px 10px;
}
.compOp {
	background-color: #b1f9b1;
	position:relative;
}
.compOpSelect{
	float:left;
	font-size:22px;
	margin:11px 10px 0px 10px;
}
.compOp > .op1 {
	float:left;
	margin:0px 0px 0px 5px;

}
.compOp > .op2 {
	float: left;
	margin:0px 0px 0px 0px;
}


.logicOp {
	background-color: #b1f9b1;
	position: relative;
}

.logicOpSelect {
	float:left;
/*	display:inline-block;*/
	/*position:absolute;
	top:15px;
	left:100px;*/
	width:45px;
/*	height:20px;*/
	font-size:14px;
	margin:10px 0px 0px 2px;
}
/*.logicOpSelect select {
	font-size:12px;
	width:85px;
}*/

.logicOp > .op1 {
	float:left;
	margin:0px 0px 0px 5px;

}
.logicOp > .op2 {
	float:left;
	margin:0px 0px 0px 2px;
}
.if {
	background-color: #ffdee5;
}

.ifRede1 {
	margin:0px 5px;
}
.ifRede2 {
	margin:0px 5px;
}
.if .boolArea {
	margin:0px 5px;	
}
.if .nestArea {
	margin:0px 5px;
}
.ifelse {
	background-color: #ffdee5;
}
.ifelseRede1 {
	margin:0px 5px;
}
.ifelseRede2 {
	margin:0px 5px;
}
.ifelse .boolArea {
	margin:5px 5px 0px 5px;	
}
.ifelse .nestArea {
	margin:0px 5px;
}

.for {
	background-color: #c7a5fa;
}
.for input{
	margin:5px 5px 0px 5px;
}

.for .nestArea {
	margin:5px 5px 0px 5px;
}

.while {
	background-color: #c7a5fa;
}
.while .boolArea {
	margin:5px 5px 0px 5px;	
}
.while .nestArea {
	margin:0px 5px;
}

.while .whileRede {
	margin:0px 5px;
}
.intBlock .constBlock {
	margin:10px 0px 0px 0px;
}
.intConstant {
	margin:15px 0px 0px 0px;
}
.charConstant {
	margin:15px 0px 0px 0px;
}
.boolConstant {
	margin:15px 0px 0px 0px;
}
.subroutine {
	background-color: #ffcf70;
}

.charBlock.varBlock {
	width:50px;
	height:48px;
/*	font-size: 10px;*/
	text-align: center;
}
.blockList > .charBlock.varBlock{
	margin-left:75px;
}
.intBlock.varBlock {
	width:50px;
	height:48px;
	text-align: center;
}
.blockList > .intBlock.varBlock{
	margin-left:75px;
}
.boolBlock.varBlock {
	width:50px;
	height:48px;
	text-align: center;
}
.blockList > .boolBlock.varBlock{
	margin-left:75px;
}
.blockList > .intBlock.constBlock{
	margin-left:75px;
}
.blockList > .charBlock.constBlock{
	margin-left:75px;
}
.blockList > .boolBlock.constBlock{
	margin-left:75px;
}
/*.varBlock input {
	margin-bottom:10px;
}*/
.dropAccept {
	background-image: url(../img/tnm-red.png);
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: 18px 16px;
}

.exeBlock {
	border:3px solid #C71585;
}